* {
    margin: 0;
    padding: 0;
    margin-top: 0px;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    background-color: #1b304e;
    height: 67px;
    display: flex;
    align-items: center;
}

#head {
    font-size: 18px;
    color: white;
    margin-left: 40px;
}

/*Gradasi dari https://cssgradient.io/*/
#main {
    background: linear-gradient(353deg, rgba(14,42,89,1) 0%, rgba(43,89,134,1) 76%);  
    height: 345px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0px;
}

.container {
    padding: 20px;
}

#title {
    font-size: 48px;
    color: white;
    margin-bottom: 20px;
}

#search {
    display: flex;
    justify-content: center;
}

#search-bar {
    display: flex;
    margin: 10px 5px;
    background-color: rgb(255, 255, 255);
    width:491px;
    padding: 1px 15px;
    border-radius: 20px;
    align-items: center;
}

.fa-magnifying-glass {
    margin-right: 12px;
    color: #D7D7D7;
}

.search-input{
    border: 0px;
    border-right: 2px solid #D7D7D7;
    width: 500px;
    height: 60%;
    margin-right: 10px;
}

input:focus {
    outline: none;
}

#filter {
    border-style: none;
    background-color: rgb(255, 255, 255);
    height: 100%;
}

#filter:hover {
    cursor: pointer;
}

#search-button {
    margin: 10px 5px;
    border: 0px;
    border-radius: 50px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #e07b1e;
    color: white;
    width: 120px;
    transition: 0.2s;
}

#search-button:hover {
    background-color: #c76317;
    cursor: pointer;
}

#search-result {
    text-align: center;
}

#search-result-container {
    padding: 30px;
}

#result {
    color: #1b304e;
}

#amiibo-div {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
}

#search-result-container {
    margin: 0 auto;
    /* max-width: 1200px; */
}

/* Desain card terinspirasi dari https://codepen.io/drehimself/pen/QNXpyp */
.amiibo-card {
    background-color: rgb(255, 255, 255);
    /*padding: 20px;*/
    margin: 60px 20px 20px 20px;
    width: 250px;
    display: inline-block;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(202, 202, 202);
    position: relative;
}

.card-background {
    height: 270px;
    background: linear-gradient(353deg, rgba(214,84,18,1) 0%, rgba(224,123,30,1) 60%); 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.amiibo-image {
    height: 300px;
    display: inline-block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: -40px;
}

.amiibo-details {
    margin: 30px 0px;
}

.amiibo-name {
    font-size: 16px;
    margin-bottom: 10px;
}

.amiibo-details p {
    font-size: 12px;
}

.button-details {
    margin-top: 20px;
    padding: 5px;
    width: 80px;
    border: none;
    border-radius: 50px;
    background: rgb(63, 128, 194);
    transition: 0.2s;
}

.button-details:hover {
    background: rgb(44, 98, 151);
    cursor: pointer;
}

.button-details p {
    font-size: 14px;
    color: white;
}

/*Muncul kalau card diklik*/
.amiibo-page {
    background: linear-gradient(353deg, rgba(214,84,18,1) 0%, rgba(224,123,30,1) 60%);
    width: 500px;
    height: 800px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(56, 56, 56, 0.39);
}

.button-close-page {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    border: none;
    background: none;
}

.button-close-page:hover {
    cursor: pointer;
}

.fa-xmark {
    color: white;
}

.amiibo-page-image-container {
    width: 500px;
    height: 400px;
    display: block;
    display: flex;
    justify-content: center;
    border-radius: 20px 20px 70px 70px;
}

.amiibo-page-image {
    position: relative;
    bottom: 40px;
}

.amiibo-page-details {
    box-sizing: border-box;
    padding: 30px 50px;
    background-color: white;
    height: 400px;
    border-radius: 60px 60px 20px 20px;
}

.amiibo-page-name {
    font-size: 28px; 
    /*background: grey;*/
    text-align: center;
}

.amiibo-page-details-more {
    margin-top: 20px;
    /*background:rgb(228, 228, 228);*/
}

/*footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(235, 235, 235);
}*/
